#parkingLot {
	width: 1385px;
	height: 1035px;
	/*position: absolute;*/
	z-index: 1;
	margin: 40px;
}

#startSpace {
    color: blue;
    width: 200px;
    height: 100px;
    background-color: orange;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: 40px;
    transform: rotate(-90deg);
    top: 1150px;
    left: 262px;
}

.leftSpaces {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 200px;
    height: 100px;
    background-color: yellow;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: 40px;
    transform: rotate(0deg);
}

#space0 {
    top: 63px;
    left: 67px;
}

#space1 {
    top: 178px;
    left: 63px; 
}

.carPic {
	transform: rotate(-90deg);
    top: 1150px;
    left: 262px; 
    height: 100px;
    position: absolute;
    z-index: 51;
    /*transition: transform 1s;*/
    
}


#car2 {
	transform: rotate(90deg);
	top: 1150px;
	left: 1010px;
    height: 100px;
    position: absolute;
    z-index: 51;
	
}

 .intersection1 {
    	background-color: lightblue;
    	z-index: 5;
    	height: 192px;
    	width: 202px;
    	position: absolute;
    	color: orange;
    	left: 262px;
    	top: 665px;
}

.intersection2 {
    	background-color: lightblue;
    	z-index: 5;
    	height: 192px;
    	width: 202px;
    	position: absolute;
    	color: orange;
    	left: 262px;
    	top: 272px;
}
.intersection3 {
    	background-color: lightblue;
    	z-index: 5;
    	height: 192px;
    	width: 192px;
    	position: absolute;
    	color: orange;
    	left: 1018px;
    	top: 272px;
}
.intersection4 {
    	background-color: lightblue;
    	z-index: 5;
    	height: 192px;
    	width: 192px;
    	position: absolute;
    	color: orange;
    	left: 1018px;
    	top: 665px;
}